<div class="hero" style="background-image: url(/img/content/Boat.jpg);">

    <div class="background-fade"></div>

    <div class="container" style="color: white; text-shadow: 0 0 3px #000000;">
        <div class="row justify-content-start py-5">
            <div class="col-md-12 col-lg-6 py-lg-5 ml-md-5"><p><strong>Cargosnap&nbsp;</strong>|<em>&nbsp;Your Supply Chain on a Timeline</em></p>
<p><span style="font-family: CargoSnapFont,sans-serif;"><span style="font-size: 3.5em;">Logistics Proof of Condition made easy</span></span></p>
<p><span style="font-size: 1.2em;">Scan Snap Share</span></p></div>
        </div>
    </div>

</div>