<div class="container section-background py-3 py-md-4 py-lg-5">

    <div class="row justify-content-center">

        <div class="col-md-6 ">

        <div class="position-relative" style="margin-top: -14rem;">
             <img class="revealable img-fluid section-image fadeInUp" data-wow-duration="1s" data-wow-delay="0s" src="/img/content/Phone.v2.png">

         </div>
        </div>

        <div class="col-md-6">
            <div class="py-md-4 py-lg-5">
                <div class="revealable fadeInRight" data-wow-duration="1s">

                    <p><em>SCAN</em></p>

                    <h2>Be in control of your cargo with CargoSnap.</h2>
                    <br>
                    
                    <p>Customers are increasingly demanding Proof of Condition. Digitize your files, documents and photographic material. Scan your items and empower your workforce. Save time, improve your process and limit errors.</p>
                </div>
            </div>
        </div>
    </div>
</div>