<div id="footer" class="container pt-4 border-top">
    <div class="row">
        <div class="col-6 col-md">
            <h5>Explore</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Our vision</a></li>
                <li><a class="text-muted" href="#">Disruptive way</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Platform</a></li>
                <li><a class="text-muted" href="#">The app</a></li>
                <li><a class="text-muted" href="#">Good to know</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Pricing</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Free trial</a></li>
                <li><a class="text-muted" href="#">Large business</a></li>
                <li><a class="text-muted" href="#">Enterprise edition</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>About us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">The team</a></li>
                <li><a class="text-muted" href="#">The way we do things</a></li>
                <li><a class="text-muted" href="#">Locations</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Contact us</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="#">Mail</a></li>
                <li><a class="text-muted" href="#">Phone</a></li>
                <li><a class="text-muted" href="#">Chat/WhatsApp</a></li>
            </ul>
        </div>
    </div>

    <div class="text-center">
        <div class="py-3"></div>
        <img width="200" src="/img/cs_logo_full.png" alt="Logo">
        <div class="py-3"></div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. rem ipsum dolor sit amet, consectetur adipisicing
            elit. Accusamus excepturi ipsam laboriosam sapiente! Lorem ipsum dolor sit amet, consectetur adipisicing
            elit. Accusamus excepturi ipsam laboriosam sapiente!</p>

        <div class="py-3"></div>
        <img class="img-fluid" src="/img/social.png" alt="Logo">
        <div class="py-3"></div>

        <img width="170" src="/img/download_android.png" alt="Logo">
        <img width="150" src="/img/download_apple.png" alt="Logo">
        <div class="py-3"></div>
    </div>
</div>
