<div id="navbar" class="navbar navbar-custom sticky-top">

    <div class="container flex-nowrap">

        <a class="navbar-brand ml-3" href="{{ .Site.BaseURL | relLangURL }}" aria-label="CargoSnap">
            <img src="/img/cs_logo_full.png" width="160" height="33" alt="">
        </a>

        <ul class="navbar-nav flex-row d-none d-lg-flex ml-xl-4">
            {{ $url := .URL | relLangURL }}
            {{ range .Site.Menus.main }}
                <li class="nav-item {{ if eq $url (.URL | relLangURL) }}active{{end}}">
                    <a class="nav-link" href="{{ .URL | absLangURL  }}">{{ .Name }}</a>
                </li>
            {{ end }}
        </ul>

        <div class="ml-auto d-flex">
            <ul class="navbar-nav flex-row">
                <li class="mt-1 mr-2">
                    <a href="#" class="btn btn-orange">{{ i18n "free_trial" }}</a>
                </li>
                <li class="nav-item">
                    <a href="https://platform.cargosnap.com" target="_blank" class="nav-link">{{ i18n "login" }}</a>
                </li>
            </ul>

            <div class="dropdown ml-2 mr-3 align-self-center">
                <a href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                   aria-expanded="false">
                    <img class="language-item" src="/img/flags/{{ $.Site.Language }}.svg">
                </a>

                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    {{ range .AllTranslations }}
                        <a href="{{ .Permalink }}" class="dropdown-item">
                            <img class="language-item" src="/img/flags/{{ .Lang }}.svg" alt="">
                            <span>{{ .Language.LanguageName }}</span>
                        </a>
                    {{ end }}
                </div>

            </div>

        </div>

    </div>
</div>